<!DOCTYPE html>
<html lang="en">

<html>
<head>
    {{> html_head}}
</head>

<body>

{{> header }}

<form id="edit_journal_form" role="form" action="/journal/save_edit_changes" class="input-container"
      method ="post" enctype="multipart/form-data">

    <input type="hidden" name="journal_id" value="{{_id}}">

    <div class="input-container form-group">
        <label for="title">Title</label>
        <div class="input-group col-xs-12">
            <input type="text" name="title" class="form-control" id="title" placeholder="{{title}}">
        </div>
    </div>

    <div class="input-container form-group">
        <label for="form-collaborator">Collaborators</label>
        <div class="input-group">
            <input type="text" name="collaborators" class="form-control" id="collaborator" placeholder="Enter username">
    		  <span class="input-group-btn">
    			<button class="btn" type="button">Search</button>
    		  </span>
        </div>
    </div>


    <div class="input-container">
        <label for="description">Description</label>
        <div class="input-group col-xs-12">
            <input type="text" name="description" class="form-control" id="description" placeholder="{{description}}">
        </div>
    </div>


    <div class="input-container" >
        <!--<label for="form-photo">Cover Photo</label>-->
        <!--<div class="col-xs-12">-->
        <!--<div class="thumbnail select_picture_thumbnail">-->
        <!--<img src="" alt="...">-->
        <!--<a href="#" class="btn btn-default select_file" role="button">Choose from library</a>-->
        <!--</div>-->
        <!--</div>-->
        <label for="form-photo">Cover Photo</label>
        <div class="col-xs-12">
            <div class="thumbnail select_picture_thumbnail">
                <img src="{{coverImage}}" alt="...">
                <input type="file" name="image" class="12u$ button upload_btn"
                       accept="application/x-zip-compressed,image/*"
                       title="">
            </div>
        </div>
    </div>

    <div id="button-create">
        <input type="submit" class="button special" value="Save">
    </div>

    <div class="12u 12u$(xsmall) actions">
        <a href="/journal/{{_id}}" class="button" value="cancel" id="cancel_btn"/> Cancel </a>
    </div>

</form>

<script>
    $(document).on('ready', function() {
        $('#back_btn').attr('href', '/myjournal');
    });
</script>

</body>
</html>