<!DOCTYPE html>
<html lang="en">

<html>
<head>
    {{> html_head}}
</head>

<body>

{{> header }}

<form id="edit_journal_form" role="form" action="javascript:;" class="input-container"
      method ="post" enctype="multipart/form-data">

    <input id="journal_id_holder" type="hidden" name="journal_id" value="{{_id}}">

    <div class="input-container form-group">
        <label for="title">Title</label>
        <div class="input-group col-xs-12">
            <input type="text" name="title" class="form-control" id="title" placeholder="{{title}}">
        </div>
    </div>

    <!--<div class="input-container form-group">-->
        <!--<label for="form-collaborator">Collaborators</label>-->
        <!--<div class="input-group">-->
            <!--<input type="text" name="collaborators" class="form-control" id="collaborator" placeholder="Enter username">-->
    		  <!--<span class="input-group-btn">-->
    			<!--<button class="btn" type="button">Search</button>-->
    		  <!--</span>-->
        <!--</div>-->
    <!--</div>-->

    <!--search bar-->
    <div class="container">
        <label for="title">Collaborators</label>
        <div class="row">
            <div class="col-md-6">
                <div id="custom-search-input">
                    <div class="input-group col-md-12">
                        <input id="search_users" type="text" class="form-control input-lg" placeholder="type user name" />
                    <span class="input-group-btn">
                        <a href='/' id="user_search_btn" class="btn btn-info btn-lg">
                            <i class="fa fa-plus"></i>
                        </a>
                    </span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row" id="collaborator_list">
            {{#each collaborators}}
                <div id="{{this}}" class='collaborator'>
                    <p> {{this}}</p>
                    <a href='/myjournal' class='remove_user_btn'><i class='fa fa-times'></i></a>
                </div>
            {{/each}}
        </div>
    </div>


    <div class="input-container">
        <label for="description">Description</label>
        <div class="input-group col-xs-12">
            <input type="text" name="description" class="form-control" id="description" placeholder="{{description}}">
        </div>
    </div>


    <div class="input-container" >
        <!--<label for="form-photo">Cover Photo</label>-->
        <!--<div class="col-xs-12">-->
        <!--<div class="thumbnail select_picture_thumbnail">-->
        <!--<img src="" alt="...">-->
        <!--<a href="#" class="btn btn-default select_file" role="button">Choose from library</a>-->
        <!--</div>-->
        <!--</div>-->
        <label for="form-photo">Cover Photo</label>
        <div class="col-xs-12">
            <div class="thumbnail select_picture_thumbnail">
                <img src="{{coverImage}}" alt="...">
                <input type="file" name="image" class="12u$ button upload_btn"
                       accept="application/x-zip-compressed,image/*"
                       title="">
            </div>
        </div>
    </div>

    <div id="button-create">
        <input type="submit" class="button special" value="Save">
    </div>

    <div class="12u 12u$(xsmall) actions">
        <a href="/journal/{{_id}}" class="button" value="cancel" id="cancel_btn"/> Cancel </a>
    </div>

</form>

{{> loader}}

<script>

    $(document).ajaxStart(function(){
        console.log("loader triggered!");
        $("#loader").show();
    });
    $(document).ajaxComplete(function(){
        console.log("loader hided!");
        $("#loader").hide();
    });

    $(document).on('ready', function() {

        var col_list = [];

        $('.collaborator').each(function () {
            console.log("iterating collaborators");
            console.log($(this).attr('id'));
            col_list.push($(this).attr('id'));
        });

        $('#back_btn').attr('href', '/myjournal');

        $('#user_search_btn').click(function(e){
            e.preventDefault();
            console.log('user search btn clicked!');

            var name = $('#search_users').val();
            console.log(name);

//            $.post('/checkuser', {name : name}, function(res){
//                console.log(res);
//                console.log(typeof res);
//            });

            var data = {name : name};
            console.log(data);

            if(col_list.indexOf(name)!=-1){
                swal(name + " is already a collaborator");
            }
            else {

                $.post('/checkuser', data).success(function () {
//                swal({
//                                title: "Success!",
//                            },
//                            function(){
//
//                            });
                    col_list.push(name);
                    console.log("current collaborators: " + col_list);
                    generateCollaboratorList(col_list);

                }).fail(function () {
                    swal("invalid user name, please check");
                });
            }


        });


        function generateCollaboratorList(list){
            var s = "";
            for(var index in list){
                s += "<div id='" + list[index] + "'+ class='collaborator'><p>" + list[index] +"</p> <a " +
                        " href='/myjournal' class='remove_user_btn'><i class='fa fa-times'></i></a></div>";
            }
            console.log(s);
            $('#collaborator_list').html(s);
        }

//        $('.remove_user_btn').click(function(e){
//            e.preventDefault();
//            console.log('remove user btn clicked');
//            //var name = this.parent();
//            //console.log(name);
//        });

        $('body').on("click", '.remove_user_btn', function(e){
            e.preventDefault();
            console.log('remove user btn clicked');

            var parent = $(this).parent();
            console.log(parent.val());
            console.log(parent.attr('id'));

            col_list.splice(col_list.indexOf(parent.attr('id')), 1);
            generateCollaboratorList(col_list);
        });


        // the call to update journal settings
        $("#edit_journal_form").submit(function (event) {

            //disable the default form submission
            event.preventDefault();
            //grab all form data

//            var formData = $(this).serialize();
            var formData = new FormData($(this)[0]);
            var jour_id = formData["journal_id"];

            console.log("formData: " + formData);
            console.log("journal_id: " + jour_id) ;

            formData.append('collaborators', col_list);

            //loading effect (to be added)

            //AJAX REQUEST HERE
            $.ajax({
                url: '/journal/save_edit_changes',
                type: 'POST',
                data: formData,
                // async: false,
                cache: false,
                contentType: false,
                processData: false,
                success: function () {

                    swal({
                                title: "Changes Saved!",
                            },
                            function(){
                                var path = window.location.href;
                                //console.log("path is:" + path + typeof(path));
                                path = path.substring(0, path.length-5);
                                //console.log("path is:" + path);
                                window.location.replace(path);

                            });
                },
                error: function(){

                    swal("Met some problems, please try again :P");
                }
            });
        });
    });
</script>

</body>
</html>