<!DOCTYPE html>
<html lang="en">

<html>
<head>
    {{> html_head}}
    <script type="text/javascript" src="../public/js/jquery.min.1.7.js"></script>
    <script type="text/javascript" src="../public/js/modernizr.2.5.3.min.js"></script>
</head>

<body>

{{> header }}

<div class="container">

        <ul class="journal_options">
            <li><a data-dialog="somedialog" class="trigger option"><i class="fa fa-share-alt-square"> share
            </i></a></li>


            <li><a href="#" class="option" id="favorite_btn"><i class="fa fa-heart-o"> favorite </i></a></li>
            <li><a href="/journal/{{journal.id}}/edit" class="option"><i class="fa fa-pencil-square-o"> edit
            </i></a></li>
            <li><a href="/myjournal" class="option" id="delete_btn"><i class="fa fa-trash-o"> delete </i></a></li>
        </ul>


    <!--&lt;!&ndash; Modal &ndash;&gt;-->
    <!--<div id="myModal" class="modal fade custom" role="dialog">-->
        <!--<div class="modal-dialog">-->
            <!--&lt;!&ndash; Modal content&ndash;&gt;-->
            <!--<div class="modal-content">-->

                <!--<div class="modal-body">-->
                    <!--<a href="http://www.facebook.com" class="btn btn-default"> Facebook </a>-->
                    <!--<a href="http://www.google.com" class="btn btn-default"> Google </a>-->
                <!--</div>-->

                <!--<div class="modal-footer">-->
                    <!--<button type="button" class="button special" data-dismiss="modal">Close</button>-->
                <!--</div>-->
            <!--</div>-->

        <!--</div>-->
    <!--</div>-->


    <div class="container">
        <h2> {{journal.title}} </h2>

        <ul class="collaborator_list">
        {{# each journal.collaborators}}
            <li> {{this}} </li>
        {{/each}}
        </ul>

        <p>{{journal.time}} </p>

        <p>{{journal.description}} </p>


        <!--div class="flipbook-viewport">
            <div class="container">
                <div class="flipbook">
                    <div class="hard" style="background-image:url(../public/pages/ny.jpg)"></div>
                    <div class="hard" style="background-image:url(../public/pages/word1.png)"></div>
                    <div class="hard" style="background-image:url(../public/pages/empire.jpg)"></div>
                    <div class="hard" style="background-image:url(../public/pages/word2.png)"></div>
                    <div class="hard" style="background-image:url(../public/pages/times.jpeg)"></div>
                    <div class="hard" style="background-image:url(../public/pages/word3.png)"></div>
                    <div class="hard" style="background-image:url(../public/pages/google.jpg)"></div>
                    <div class="hard" style="background-image:url(../public/pages/end.png)"></div>
                </div>
            </div>
        </div-->

        <img src="{{journal.coverImage}}" width="200px">

        {{#each journal.images}}
            <img src="{{this}}" width="200px">
        {{/each}}
    </div>

   

    <script type="text/javascript">

    function loadApp() {

    // Create the flipbook

    $('.flipbook').turn({
            // Width

            width:922,
            
            // Height

            height:600,

            // Elevation

            elevation: 50,
            
            // Enable gradients

            gradients: true,
            
            // Auto center this flipbook

            autoCenter: true

    });
}

// Load the HTML4 version if there's not CSS transform

yepnope({
    test : Modernizr.csstransforms,
    yep: ['../public/js/turn.js'],
    nope: ['../public/js/turn.html4.min.js'],
    both: ['../public/css/basic.css'],
    complete: loadApp
});

</script>


    <!--dialog box test-->

    <div id="somedialog" class="dialog">
        <div class="dialog__overlay"></div>
        <div class="dialog__content">
            <a href="https://www.facebook.com/sharer/sharer.php?u=https://journalup.herokuapp.com/journal/{{id}}"
               class="button"> Facebook
            </a>
            <a href="http://twitter.com/home?status=https://journalup.herokuapp.com/journal/{{id}}"class="button"> Twitter </a>
            <a href="https://plus.google.com/share?url=https://journalup.herokuapp.com/journal/{{id}}" class="button"> Google+ </a>

            <div><button class="action" data-dialog-close>Close</button></div>
        </div>
    </div>

</div>

<script>

    (function() {

        var dlgtrigger = document.querySelector( '[data-dialog]' ),
                somedialog = document.getElementById( dlgtrigger.getAttribute( 'data-dialog' ) ),
                dlg = new DialogFx( somedialog );

        dlgtrigger.addEventListener( 'click', dlg.toggle.bind(dlg) );

    })();
</script>

<script>
    $(document).on('ready', function() {

        console.log("initializing");

        var favs = {{user.favorites}};
        console.log(favs);

        $('#delete_btn').click(function(e){
            e.preventDefault();
            console.log("delete_btn clicked!");

            swal({
                title: "Are you sure to delete this journal?",
                //text: "You will not be able to recover this imaginary file!",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#DD6B55",
                confirmButtonText: "Delete",
                cancelButtonText: "Cancel",
                closeOnConfirm: false,
                closeOnCancel: true
            }, function (isConfirm) {
                if (isConfirm) {
                    // delete the journal
                    swal("Deleted!", "Your journal has been deleted.", "success");
                    //window.location.reload();
                } else {
                    console.log("clicked cancel button!");
                }
            });

        });

        $('#favorite_btn').click(function(e){
            e.preventDefault();
            console.log("favorite_btn clicked!");


            var fav = $('#favorite_btn i');
            console.log(fav);

            fav.toggleClass('fa-heart fa-heart-o');

            var journal_id = {{id}};
            console.log("journal_id is:"+ journal_id);

        });
    });

</script>

</body>

</html>