<!DOCTYPE html>
<html lang="en">

<html>
<head>
    {{> html_head}}
    <script type="text/javascript" src="/js/jquery.min.js"></script>
    <script type="text/javascript" src="/js/jquery.min.1.7.js"></script>
    <!--<script type="text/javascript" src="/js/turn.min.js"></script>-->
    <script type="text/javascript" src="/js/turn.js"></script>
    
    <link href="/css/basic.css" type="text/css" rel="stylesheet">

</head>

<body>

{{> header }}

<div class="container">

    <ul class="journal_options">
        <li><a data-dialog="somedialog" class="trigger option"><i class="fa fa-share-alt-square"> share
        </i></a></li>

        {{#if isFav}}
            <li><a href="#" class="option" id="favorite_btn"><i class="fa fa-heart"> favorite </i></a></li>
        {{else}}
            <li><a href="#" class="option" id="favorite_btn"><i class="fa fa-heart-o"> favorite </i></a></li>
        {{/if}}
    </ul>
    <ul class="journal_options">
        {{#if isCollaborator}}
            <!--<li><a href="/favorite" class="option" id="favorite_btn"><i class="fa fa-heart-o"> favorite </i></a></li>-->
            <li><a href="/journal/{{journal._id}}/edit " class="option"><i class="fa fa-pencil-square-o"> edit&nbsp;&nbsp;
            </i></a></li>
            <li><a href="/journal/{{journal._id}}/media" class="option" id="add_btn"><i class="fa fa-picture-o">
                manage images
            </i></a></li>
            <li><a href="/myjournal" class="option" id="delete_btn"><i class="fa fa-trash-o"> delete </i></a></li>
        {{else}}

        {{/if}}
    </ul>

    <hr>


    <!--&lt;!&ndash; Modal &ndash;&gt;-->
    <!--<div id="myModal" class="modal fade custom" role="dialog">-->
    <!--<div class="modal-dialog">-->
    <!--&lt;!&ndash; Modal content&ndash;&gt;-->
    <!--<div class="modal-content">-->

    <!--<div class="modal-body">-->
    <!--<a href="http://www.facebook.com" class="btn btn-default"> Facebook </a>-->
    <!--<a href="http://www.google.com" class="btn btn-default"> Google </a>-->
    <!--</div>-->

    <!--<div class="modal-footer">-->
    <!--<button type="button" class="button special" data-dismiss="modal">Close</button>-->
    <!--</div>-->
    <!--</div>-->

    <!--</div>-->
    <!--</div>-->


    <div class="container">
        <h2> {{journal.title}} </h2>

        <ul class="collaborator_list">
            {{# each journal.collaborators}}
                <li> {{this}} </li>
            {{/each}}
        </ul>

        <p>{{journal.time}} </p>

        <p>{{journal.description}} </p>



        <div class="t">
            <div class="tc rel">
                <div class="book" id="book">
                    <div class="page"> <img src="{{journal.coverImage}}"/> </div>
                    {{#each journal.images}}
                        <div class="page"> <img src="{{this}}"/> </div>
                    {{/each}}
                </div>
            </div>
        </div>
        
        <!--div>
        <img src="{{coverImage}}" width="200px">

        {{#each images}}
            <img src="{{this}}" width="200px">
        {{/each}}
        </div-->
    </div>

    <div class="empty"></div>

    <!--<script>-->
        <!--jQuery(document).ready(function ($) {-->
            <!---->
            <!--var jssor_1_SlideshowTransitions = [-->
              <!--{$Duration:1200,$Opacity:2}-->
            <!--];-->
            <!---->
            <!--var jssor_1_options = {-->
              <!--//$AutoPlay: true,-->
              <!--$SlideshowOptions: {-->
                <!--$Class: $JssorSlideshowRunner$,-->
                <!--$Transitions: jssor_1_SlideshowTransitions,-->
                <!--$TransitionsOrder: 1-->
              <!--},-->
              <!--$ArrowNavigatorOptions: {-->
                <!--$Class: $JssorArrowNavigator$-->
              <!--},-->
              <!--$BulletNavigatorOptions: {-->
                <!--$Class: $JssorBulletNavigator$-->
              <!--}-->
            <!--};-->
            <!---->
            <!--var jssor_1_slider = new $JssorSlider$("jssor_1", jssor_1_options);-->
            <!---->
            <!--//responsive code begin-->
            <!--//you can remove responsive code if you don't want the slider scales while window resizing-->
            <!--function ScaleSlider() {-->
                <!--var refSize = jssor_1_slider.$Elmt.parentNode.clientWidth;-->
                <!--if (refSize) {-->
                    <!--refSize = Math.min(refSize, 600);-->
                    <!--jssor_1_slider.$ScaleWidth(refSize);-->
                <!--}-->
                <!--else {-->
                    <!--window.setTimeout(ScaleSlider, 30);-->
                <!--}-->
            <!--}-->
            <!--ScaleSlider();-->
            <!--$(window).bind("load", ScaleSlider);-->
            <!--$(window).bind("resize", ScaleSlider);-->
            <!--$(window).bind("orientationchange", ScaleSlider);-->
            <!--//responsive code end-->
        <!--});-->
    <!--</script>-->


    <script type="text/javascript">

        (function () {
            'use strict';

            var module = {
                ratio: 0.69, //1.38,
                init: function (id) {
                    var me = this;

                    // if older browser then don't run javascript
                    if (document.addEventListener) {
                        this.el = document.getElementById(id);
                        this.resize();
                        this.plugins();

                        // on window resize, update the plugin size
                        window.addEventListener('resize', function (e) {
                            var size = me.resize();
                            $(me.el).turn('size', size.width, size.height);
                        });
                    }
                },
                resize: function () {
                    // reset the width and height to the css defaults
                    this.el.style.width = '';
                    this.el.style.height = '';

                    var width = this.el.clientWidth,
                            height = Math.round(width / this.ratio),
                            padded = Math.round(document.body.clientHeight * 0.9);

                    // if the height is too big for the window, constrain it
                    if (height > padded) {
                        height = padded;
                        width = Math.round(height * this.ratio);
                    }

                    // set the width and height matching the aspect ratio
                    this.el.style.width = width + 'px';
                    this.el.style.height = height + 'px';

                    return {
                        width: width,
                        height: height
                    };
                },
                plugins: function () {
                    // run the plugin
                    $(this.el).turn({
                        display: "single",
                        elevation: 50,
                        gradients: true
                        //acceleration: true
                    });
                    // hide the body overflow
                    document.body.className = 'hide-overflow';
                }
            };

            module.init('book');
        }());

    </script>


    <!--dialog box test-->

    <div id="somedialog" class="dialog">
        <div class="dialog__overlay"></div>
        <div class="dialog__content">
            <a href="https://www.facebook.com/sharer/sharer.php?u=https://journalup.herokuapp.com/journal/{{id}}"
               class="button"> Facebook
            </a>
            <a href="http://twitter.com/home?status=https://journalup.herokuapp.com/journal/{{id}}"class="button"> Twitter </a>
            <a href="https://plus.google.com/share?url=https://journalup.herokuapp.com/journal/{{id}}" class="button"> Google+ </a>

            <div><button class="action" data-dialog-close>Close</button></div>
        </div>
    </div>

</div>

<script>

    (function() {

        var dlgtrigger = document.querySelector( '[data-dialog]' ),
                somedialog = document.getElementById( dlgtrigger.getAttribute( 'data-dialog' ) ),
                dlg = new DialogFx( somedialog );

        dlgtrigger.addEventListener( 'click', dlg.toggle.bind(dlg) );

    })();
</script>

<script>


    $(document).on('ready', function() {

        $('#delete_btn').click(function (e) {
            e.preventDefault();
            console.log("delete_btn clicked!");

            swal({
                title: "Are you sure to delete this journal?",
                //text: "You will not be able to recover this imaginary file!",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#DD6B55",
                confirmButtonText: "Delete",
                cancelButtonText: "Cancel",
                closeOnConfirm: false,
                closeOnCancel: true
            }, function (isConfirm) {
                if (isConfirm) {
                    $.post(window.location.href +'/delete', function() {
                        swal("Deleted!", "Your journal has been deleted.", "success");
                        window.location.href = '/myjournal';
                    });
                } else {
                    console.log("clicked cancel button!");
                }
            });

        });

        $('#favorite_btn').click(function (e) {
            e.preventDefault();
            console.log("favorite_btn clicked!");

            $.post(window.location.href +'/favorite',toggleFavorite());

        });

        function toggleFavorite(err){
            if(err) console.log(err);
            $('#favorite_btn i').toggleClass("fa-heart fa-heart-o");
        }

        $('#back_btn').attr('href', '/myjournal');
    });

</script>
    {{> googleAnalytics}}
</body>

</html>