<!DOCTYPE html>
<html lang="en">

<html>
<head>
    {{> html_head}}
</head>

<body>

{{> header }}

<div class="container">

        <ul class="journal_options">
            <li><a data-dialog="somedialog" class="trigger option"><i class="fa fa-share-alt-square"> share
            </i></a></li>
            <li><a href="#" class="option" id="favorite_btn"><i class="fa fa-heart-o"> favorite </i></a></li>
            <li><a href="/journal/{{id}}/edit" class="option"><i class="fa fa-pencil-square-o"> edit </i></a></li>
            <li><a href="/myjournal" class="option" id="delete_btn"><i class="fa fa-trash-o"> delete </i></a></li>
        </ul>


    <!--&lt;!&ndash; Modal &ndash;&gt;-->
    <!--<div id="myModal" class="modal fade custom" role="dialog">-->
        <!--<div class="modal-dialog">-->
            <!--&lt;!&ndash; Modal content&ndash;&gt;-->
            <!--<div class="modal-content">-->

                <!--<div class="modal-body">-->
                    <!--<a href="http://www.facebook.com" class="btn btn-default"> Facebook </a>-->
                    <!--<a href="http://www.google.com" class="btn btn-default"> Google </a>-->
                <!--</div>-->

                <!--<div class="modal-footer">-->
                    <!--<button type="button" class="button special" data-dismiss="modal">Close</button>-->
                <!--</div>-->
            <!--</div>-->

        <!--</div>-->
    <!--</div>-->


    <div class="container">
        <h2> {{title}} </h2>

        <ul class="collaborator_list">
        {{# each collaborators}}
            <li> {{this}} </li>
        {{/each}}
        </ul>

        <p>{{time}} </p>

        <p>{{description}} </p>

        <img src="{{coverImage}}" width="200px">

        {{#each images}}
            <img src="{{this}}" width="200px">
        {{/each}}

    </div>


    <!--dialog box test-->

    <div id="somedialog" class="dialog">
        <div class="dialog__overlay"></div>
        <div class="dialog__content">
            <a href="https://www.facebook.com/sharer/sharer.php?u=https://journalup.herokuapp.com/journal/{{id}}"
               class="button"> Facebook
            </a>
            <a href="http://twitter.com/home?status=https://journalup.herokuapp.com/journal/{{id}}"class="button"> Twitter </a>
            <a href="https://plus.google.com/share?url=https://journalup.herokuapp.com/journal/{{id}}" class="button"> Google+ </a>

            <div><button class="action" data-dialog-close>Close</button></div>
        </div>
    </div>

</div>

<script>

    (function() {

        var dlgtrigger = document.querySelector( '[data-dialog]' ),
                somedialog = document.getElementById( dlgtrigger.getAttribute( 'data-dialog' ) ),
                dlg = new DialogFx( somedialog );

        dlgtrigger.addEventListener( 'click', dlg.toggle.bind(dlg) );

    })();
</script>

<script>
    $(document).on('ready', function() {
        $('#delete_btn').click(function(e){
            e.preventDefault();
            console.log("delete_btn clicked!");

            swal({
                title: "Are you sure to delete this journal?",
                //text: "You will not be able to recover this imaginary file!",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#DD6B55",
                confirmButtonText: "Delete",
                cancelButtonText: "Cancel",
                closeOnConfirm: false,
                closeOnCancel: true
            }, function (isConfirm) {
                if (isConfirm) {
                    // delete the journal
                    swal("Deleted!", "Your journal has been deleted.", "success");
                    //window.location.reload();
                } else {
                    console.log("clicked cancel button!");
                }
            });

        });

        $('#favorite_btn').click(function(e){
            e.preventDefault();
            console.log("favorite_btn clicked!");


            var fav = $('#favorite_btn i');
            console.log(fav);

            fav.toggleClass('fa-heart fa-heart-o');

            var journal_id = {{id}};
            console.log("journal_id is:"+ journal_id);

        });
    });

</script>

</body>

</html>