<!DOCTYPE html>
<html lang="en">

<html>
<head>
    {{> html_head}}
</head>

<body>

{{> header }}

<div class="container">

    <div class="12u$">
        <ul class="actions">
            <li><button data-dialog="somedialog" class="trigger special">Share</button></li>
            <li><a href="/favorite" class="button">Favorite</a></li>
            <li><a href="/journal/{{id}}/edit" class="button">Edit</a></li>
            <li><a href="/myjournal" class="button">Delete</a></li>
        </ul>
    </div>


    <!--&lt;!&ndash; Modal &ndash;&gt;-->
    <!--<div id="myModal" class="modal fade custom" role="dialog">-->
        <!--<div class="modal-dialog">-->
            <!--&lt;!&ndash; Modal content&ndash;&gt;-->
            <!--<div class="modal-content">-->

                <!--<div class="modal-body">-->
                    <!--<a href="http://www.facebook.com" class="btn btn-default"> Facebook </a>-->
                    <!--<a href="http://www.google.com" class="btn btn-default"> Google </a>-->
                <!--</div>-->

                <!--<div class="modal-footer">-->
                    <!--<button type="button" class="button special" data-dismiss="modal">Close</button>-->
                <!--</div>-->
            <!--</div>-->

        <!--</div>-->
    <!--</div>-->


    <div class="container">
        <h2> {{title}} </h2>

        <ul class="actions">
        {{# each collaborators}}
            <li> {{this}} </li>
        {{/each}}
        </ul>

        <p>{{time}} </p>

        <p>{{description}} </p>

        <img src="{{coverImage}}" width="200px">

        {{#each images}}
            <img src="{{this}}" width="200px">
        {{/each}}

    </div>


    <!--dialog box test-->

    <div id="somedialog" class="dialog">
        <div class="dialog__overlay"></div>
        <div class="dialog__content">
            <a href="http://www.facebook.com" class="button"> Facebook </a>
            <a href="http://www.twitter.com" class="button"> Twitter </a>
            <a href="http://www.google.com" class="button"> Google+ </a>
            <div><button class="action" data-dialog-close>Close</button></div>
        </div>
    </div>

</div>

<script>
    (function() {

        var dlgtrigger = document.querySelector( '[data-dialog]' ),
                somedialog = document.getElementById( dlgtrigger.getAttribute( 'data-dialog' ) ),
                dlg = new DialogFx( somedialog );

        dlgtrigger.addEventListener( 'click', dlg.toggle.bind(dlg) );

    })();
</script>

</body>

</html>