<!DOCTYPE html>
<html lang="en">

<html>
<head>
    {{> html_head}}
</head>

<body>

<!--<div class="header">-->
    <!--<a href="/journal/edit">-->
        <!--<img src="/images/back_btn.png">-->
    <!--</a>-->
    <!--<p> Manage Content </p>-->
<!--</div>-->

<!--<div class="empty"></div>-->

{{> header}}

<div class="container">
    <div class="row">


        <!--<div class="col-xs-4 media-container">-->
            <!--<a href="#" class="thumbnail media">-->
                <!--<img src="{{coverImage}}">-->
                <!--<a id="{{coverImage}}" class="btn btn-default delete_btn"> delete </a>-->
            <!--</a>-->
        <!--</div>-->

        {{#each images}}
            <div class="col-xs-4 media-container">
                <a href="#" class="thumbnail media">
                    <img src={{this}} alt="...">
                </a>
                <a id="{{this}}" class="btn btn-default delete_btn"> <i class="fa fa-times"></i> </a>
            </div>
        {{/each}}
    </div>

    <div class="container">
        <!--<div class="col-xs-4 media-container">-->
            <!--<a href="#" class="thumbnail media fileloading" id="add_media_btn" type="file">-->
                <!--<img src="/images/add.png" alt="...">-->
            <!--</a>-->
        <!--</div>-->

        <!--<form id="add_image" class="input-container" action="/add_image"-->
              <!--method = "post" enctype="multipart/form-data"-->
                <!--onsubmit="alert('thank you!')">-->

        <form id="add_image" class="input-container" action="javascript:;"
              method = "post" enctype="multipart/form-data">

            <input type="hidden" name="journal_id" value="{{_id}}">


            <div class="fileUpload">
                <div class="row">
                    <span>Upload</span>
                    <input type="file" name="image" class="12u$ button upload_btn upload"
                       accept="application/x-zip-compressed,image/*"
                       title="Add a picture!">

                    <div id="button-create">
                        <input type="submit" class="button" value="Add a picture!">
                    </div>
                </div>

            </div>


            <!--<div id="button-create">-->
                <!--<input id="anotherAddBtn" type="submit" class="button" value="Another add!">-->
            <!--</div>-->

        </form>
    </div>

    <div clss="empty" style="height:10em"> </div>

    {{> loader}}

</div>

<!--loading effect-->

<footer class="footer">
    <div class="12u$">
        <ul class="actions">
            <li><a href="/journal/{{_id}}" class="button special">View Journal</a></li>
        </ul>
    </div>
</footer>


<script>

    $(document).ajaxStart(function(){
        console.log("loader triggered!");
        $("#loader").show();
    });
    $(document).ajaxComplete(function(){
        console.log("loader hided!");
        $("#loader").hide();
    });

    $(document).on('ready', function() {

        $('.delete_btn').click(function(e){
            e.preventDefault();
            var url = this.id;
            var path = window.location.href;
            var segs = path.split('/');
            var journal_id = segs[segs.length - 2];

            var data = {
                journal_id : journal_id,
                imageUrl : url
            }

            $.post(path + "/deleteImage", data, function(){
                window.location.reload();
            });
        });


        var backpath = window.location.href;
        backpath = backpath.substring(0, backpath.length-6);
        console.log(backpath);

        $('#back_btn').attr('href', backpath);

        $("#add_image").submit(function (event) {

            //disable the default form submission
            event.preventDefault();
            //grab all form data

//            var formData = $(this).serialize();
            var formData = new FormData($(this)[0]);

            console.log("formData:" + formData);

            //loading effect (to be added)

            //AJAX REQUEST HERE
            $.ajax({
                url: '/add_image',
                type: 'POST',
                data: formData,
                //async: false,
                cache: false,
                contentType: false,
                processData: false,
//                beforeSend: function(){
//                    console.log("trying to block the UI");
//                    $("#loader").show();
//                },
//                complete: function(){
//                    $("#loader").hide();
//                },
                success: function () {
                    swal({
                                title: "Picture added!",
                            },
                            function(){
                                swal("Please wait...");
                                window.location.reload();
                            });
                },
                error: function(res){
                    swal("Met some problems, please try again :P");
                }
            });
        });

    });
</script>

</body>
</html>